
h1 {
	font-size:24px;
	font-weight:bold;
	margin-top:24px;
}

h2 {
	font-size:20px;
	font-weight:bold;
	margin-top:20px;
}


p {
	margin:8px 0 24px 0;
}

#container {
	margin-bottom:16px;
}

.page-width {
	width: 984px;
}

.page {
    margin: 0 auto;
}

body {
	background: none repeat scroll 0 0 #6F849D;
}

.content {
	background: white;
}

.main-stat {
	display: block;
    font-size: 24px;
    font-weight: bold;
}

.sub-stat {
	display: block;
    font-size: 16px;
    color:#788395;
}

.label {
    font-size: 16px;
    font-weight: bold;
    color:#788395;	
    padding-left: 55px;
}

.value {
    font-size: 16px;
    color:#788395;	
    padding-left: 5px;
}

.info-block {
    display: inline-block;
    line-height: 1.2;
    padding: 0 13px;
    text-align: center;
    vertical-align: top;
}

.price-block {
    display: inline-block;
    line-height: 1.2;
    padding: 0 13px;
    text-align: center;
    vertical-align: top;
}

.info-block-wrapper{
	float: right;
}

.top_main_content {
    display: inline-block;
    vertical-align: top;
    width: 700px;
}

.top_sideband_content {
    float: right;
    width: 284px;
}

#map {
    width: 284px;
    height: 284px;
    position: relative;
}

.top_content {
	background: -moz-linear-gradient(center top , #B9DD90, #FFFFFF) repeat scroll 0 0 transparent;
}

.bottom_content {
	background: white;
}

.bottom_content h2 {
    background-color: #8292AD;
    border-radius: 0 4px 4px 0;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 8px 15px 8px 30px;
}
