.progress-bar {
	border-bottom: 10px solid;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	left: 25px;
	position: absolute;
	top: 200px;
	width: 0;
	z-index: -10;
}
.progress-bar {
	border-bottom-color: red !important;
}
